# Core
fastapi==0.135.3
uvicorn[standard]==0.44.0
sqlalchemy==2.0.49
asyncpg==0.31.0

# Pydantic
pydantic==2.13.0
pydantic-settings==2.13.1

# Auth
python-jose[cryptography]==3.5.0
passlib==1.7.4
argon2-cffi==25.1.0
python-multipart==0.0.26

# QR Code
qrcode==8.2
pillow==12.2.0

# Database
alembic==1.18.4

# Utilities
python-dotenv==1.2.2
